body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
    color: rgb(69, 180, 255);
}

.musicGenre {
     background-color: rgb(0, 63, 63);
     width: 50%;
     border: solid rgb(34, 139, 139);
     font-size: 2vw;
     margin: 2% auto;
     transition: font-size 0.5s ease
}

.musicGenre:hover {
    font-size: 3vw;
}

#backArrow {
    position: absolute;
}

#EDMDJs {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: auto;
    gap: 20px;
}

article {
    background-color: rgb(0, 49, 51);
    margin: 10px;
    text-align: center;
    border: solid rgb(100, 85, 236);
    border-radius: 50px;
    color: rgb(157, 175, 255);
    height: 350px;
    transition: height 0.5s ease, box-shadow 0.5s ease;
    overflow: hidden;
}

.divArticle {
    border-bottom: solid rgb(100, 85, 236);
    background-color: rgba(9, 0, 88, 0.952);
}

article:hover {
    height: 400px;
    box-shadow: 0 0 30px 15px rgba(0, 140, 255, 0.3);
}

#Avicii {
    background-image: url(./../IMG/Music/imgAvicii.jpg);
}

#Marshmello {
    background-image: url(./../IMG/Music/imgMarshmello.jpg);
}

#AW {
    background-image: url(./../IMG/Music/imgAW.jpg);
}

#DG {
    background-image: url(./../IMG/Music/imgDG.jpg);
}

#Skrillex {
    background-image: url(./../IMG/Music/imgSkrillex.webp);
}

#CH {
    background-image: url(./../IMG/Music/imgCH.jpg);
}

#DVLM {
    background-image: url(./../IMG/Music/imgDVLM.jpg);
}

#Hardwell {
    background-image: url(./../IMG/Music/imgHardwell.jpg);
}

#Alesso {
    background-image: url(./../IMG/Music/imgAlesso.jpg);
}

#Monstercat {
    background-image: url(./../IMG/Music/imgMonstercat.jpg);
}

#Krewella {
    background-image: url(./../IMG/Music/imgKrewella.jpg);
}

#PR {
    background-image: url(./../IMG/Music/imgPR.jpeg);
}