main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
}

img {
    border-radius: 10px;
    width: 80%;
}

#videogames {
    background-image: url(/IMG/Index/imgVideogames.jpg);
}

#music {
    background-image: url(/IMG/Index/imgMusic.jpg);
}

#tech {
    background-image: url(/IMG/Index/imgTech.jpg);
}

#streamers {
    background-image: url(/IMG/Index/imgStream.jpeg);
}

#movies {
    background-image: url(/IMG/Index/imgMovies.jpg);
}

#animes {
    background-image: url(/IMG/Index/imgAnime.webp);
}

#sports {
    background-image: url(/IMG/Index/imgSports.jpg);
}

#art {
    background-image: url(/IMG/Index/imgArt.jpg);
}

#reading {
    background-image: url(/IMG/Index/imgRead.jpeg);
}

#photo {
    background-image: url(/IMG/Index/imgPhoto.jpg);
}

#science {
    background-image: url(/IMG/Index/imgScience.png);
}

#health {
    background-image: url(/IMG/Index/imgHealth.png);
}

#food {
    background-image: url(/IMG/Index/imgFood.avif);
}

#events {
    background-image: url(/IMG/Index/imgEvents.jpg);
}

#vehicles {
    background-image: url(/IMG/Index/imgVehicles.jpg);
}

#animals {
    background-image: url(/IMG/Index/imgAnimals.jpg);
}