main {
    margin-top: 5%;
}

#musicPrincipal {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#musicGeneral {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

body {
    background-color: darkslategray;
    color: mediumaquamarine;
    font-family: Electrolize;
    font-style: normal;
}

#musicSing {
    background-image: url(./../IMG/Music/imgCantantes.jpeg);
}

#musicBand {
    background-image: url(./../IMG/Music/imgBanda.webp);
}

#musicGrammy {
    background-image: url(./../IMG/Music/imgGrammy.jpg);
}

#musicTend {
    background-image: url(./../IMG/Music/imgTendencia.webp);
    background-size: 120%;
    background-position: center;
}

#musicPopular {
    background-image: url(./../IMG/Music/imgPopular.jpg);
    background-size: 120%;
    background-position: center;
}

#musicVideos {
    background-image: url(./../IMG/Music/imgVideosMusicales.png);
    background-position: center;
}

#backArrow {
    position: absolute;
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 1%;
}

#bandLi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    background-color: rgba(0, 0, 0, 0.493);
    border: solid darkcyan;
    border-radius: 1.5vw;
    padding: 1vw;
    list-style-type: none;
    transition: height 0.5s ease, background-color 0.5s ease;
    width: 90%;
    margin: auto;
    margin-top: 1vw;
    height: 4vw;
    color: rgb(0, 228, 228);
}

li:hover {
    height: 7vw;
    background-color: rgba(0, 0, 0, 0.185);
}


.pBand {
    font-size: 1.7vw;
    margin: 0;
    width: 50%;
}

.musicBackBand {
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    background-blend-mode: overlay;
}

#LP {
    background-image: url(./../IMG/Music/imgLP.jpg);
    background-position-y: 45%;
}

#S41 {
    background-image: url(./../IMG/Music/imgS41.jpg);
}

#TO {
    background-image: url(./../IMG/Music/imgTO.jpg);
}

#ACDC {
    background-image: url(./../IMG/Music/imgACDC.webp);
}

#Metallica {
    background-image: url(./../IMG/Music/imgMetallica.jpg);
}

#Queen {
    background-image: url(./../IMG/Music/imgQueen.jpg);
}

#TB {
    background-image: url(./../IMG/Music/imgTB.jpg);
    background-position-y: 25%;
}

#DF {
    background-image: url(./../IMG/Music/imgDF.jpg);
    background-position-y: 65%;
}

#BMTH {
    background-image: url(./../IMG/Music/imgBMTH.jpg);
    background-position-y: 10%;
}

#LH {
    background-image: url(./../IMG/Music/imgLH.jpg);
}

#BABYMETAL {
    background-image: url(./../IMG/Music/imgBABYMETAL.jpg);
}

#MTH {
    background-image: url(./../IMG/Music/imgMTH.jpg);
    background-position-y: 15%;
}

#YT {
    background-image: url(./../IMG/Music/imgYT.jpg);
    background-size: 95%;
    background-position-y: 20%;
}

#ABBA {
    background-image: url(./../IMG/Music/imgABBA.jpg);
}

#BB {
    background-image: url(./../IMG/Music/imgBB.jpg);
}

#CP {
    background-image: url(./../IMG/Music/imgCP.jpg);
}

#M5 {
    background-image: url(./../IMG/Music/imgM5.jpg);
    background-position-y: 15%;
}

#Morat {
    background-image: url(./../IMG/Music/imgMorat.jpeg);
    background-position-y: 35%;
}

#DP {
    background-image: url(./../IMG/Music/imgDP.webp);
}

#ID {
    background-image: url(./../IMG/Music/imgID.png);
}

#OR {
    background-image: url(./../IMG/Music/imgOR.webp);
    background-position-y: 15%;
}

#Mecano {
    background-image: url(./../IMG/Music/imgMecano.jpg);
    background-position-y: 0%;
}

.musicGenre {
    font-size: 2.5vw;
    transition: font-size 0.5s ease;
    width: 90%;
}

.musicGenre:hover {
    font-size: 3.5vw;
}