:root {
    --backpos: center;
    --backsize: cover;
    --backattach: scroll;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
    width: 100%;
}

article {
    width: 100%;
}

#gamePrincipal, #gameEnterprise {
    width: 100%;
}

#gameTend {
    background-image: url(./../IMG/Videogames/imgTendencias.png);
}

#gameNov {
    background-image: url(./../IMG/Videogames/imgNovedades.jpg);
}

#gameCons {
    background-image: url(./../IMG/Videogames/imgConsolas.jpg);
}