main {
    width: 99%;
}

#gameGeneral {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    width: 100%;
    gap: 20px;
}

#gameCommunity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

article {
    width: 100%;
}

#gamePrincipal, #gameEnterprise {
    width: 100%;
}

#gameTend {
    background-image: url(./../IMG/Videogames/imgTendencias.png);
}

#gameNov {
    background-image: url(./../IMG/Videogames/imgNovedades.jpg);
}

#gameCons {
    background-image: url(./../IMG/Videogames/imgConsolas.jpg);
}

#gameNint {
    background-image: url(./../IMG/Videogames/imgNintendo.jpg);
}

#gameSony {
    background-image: url(./../IMG/Videogames/imgSony.avif);
}

#gameXbox {
    background-image: url(./../IMG/Videogames/imgXbox.png);
}

#gamePC {
    background-image: url(./../IMG/Videogames/imgPC.jpg);
}